<div class='row pb-3'>
  <div class="col">
    <div class="btn btn-primary">
      <%= link_to "ADD TYPE", new_metadata_type_path, :class => 'btn' %>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col">
    <div class="accordion" id="accordionExample">
      <% @metadata_types.each do |metadata_type| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= metadata_type.id %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= metadata_type.id %>" aria-expanded="false" aria-controls="collapse<%= metadata_type.id %>">
              <%= metadata_type.name %>
            </button>
          </h2>
          <div id="collapse<%= metadata_type.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= metadata_type.id %>">
            <div class="accordion-body">
              <%= render metadata_type %>
              <p>
                <%= link_to "Show this metadata type", metadata_type %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
