
<%= render @metadata_type %>

<div>
  <%= link_to "ADD METADATA", new_metadata_type_metadatum_path(@metadata_type.id), :class => 'btn btn-primary' %>
  <table  class="table">
    <thead>
      <tr>
        <th scope="col">Metadata Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @metadata.each do |metadatum| %>
        <%= render "metadata_types/metadata/metadatum", metadatum: metadatum %>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "Edit this metadata type", edit_metadata_type_path(@metadata_type) %> |
  <%= link_to "Back to metadata types", metadata_types_path %>

  <%= button_to "Destroy this metadata type", @metadata_type, method: :delete %>
</div>
